#moviesCounterAll {
    font-weight: bold;
}

.btn {
    cursor: pointer;
}

#moviesCounterSeen {
    font-weight: bold;
}


#moviesCountersContainer { 
    margin-top: 0px;
    float: right;
}

/* #moviesListContainer {
    display: block; 
    clear: both;
    margin-top: 100px;
    text-align: center;
} */
 #moviesListContainer {
    width: 600px;
    clear: both;
    text-align: center;
    margin-left: auto; 
    margin-right: auto;
}

#moviesList {
    display: inline-block;
} 